replicaCount: 1

image:
  repository: ghcr.io/carcemercado/hello-kubernetes
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"